---
---

.fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  color: white !important;
  border-radius: 5px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  background: #0176B5;
}

.fa-twitter {
  background: #1DA1F3;
}

.fa-medium {
    background: #00AB6B;
}

.fa-github {
    background: #333333;
}

.fa-envelope-o {
    background: #922626;
}

.fa-rss {
    padding: 5px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    color: white !important;
    border-radius: 3px;
    background: #F7A001;
}

.fafoo {
    padding: 3px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    color: white !important;
    border-radius: 3px;
    margin-bottom: 3px;
}