<header id="masthead" class="site-header">

  
  <div>
    <div class="site-branding">
      <p class="site-title">
        <a href="{{ site.baseurl }}/">{{ site.title }}</a>
      </p>
      <p class="site-description">{{ site.description }}</p>
    </div>
    <nav class="main-navigation">
      <!-- <div class="trigger">
        {% for page in site.pages %}
          {% if page.include %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div> -->
      <ul class="menu-list">

      <li class="page-link"><a  href="{{ site.url }}">Home</a></li>
      <li class="page-link"><a href="{{ site.baseurl }}/cv">CV</a></li>
      <li class="page-link"><a href="{{ site.baseurl }}/blog">Blog</a></li>
      <li class="page-link"><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
     
      </ul>
    </nav>
  </div>
  
  </header>
